<dict>
  <key>organization</key>
  <string>{{ cloudflare_organization }}</string>
  <key>auth_client_id</key>
  <string>{{ cloudflare_auth_client_id}}</string>
  <key>auth_client_secret</key>
  <string>{{ cloudflare_auth_client_secret }}</string>
</dict>
