# LAN interface
LAN_INTERFACE={{ lan_interface }}

# Cloudflare LAN
CLOUDFLARE_NETWORK={{ cloudflare_network }}
CLOUDFLARE_ADDRESS_A={{ cloudflare_address_a }}
CLOUDFLARE_ADDRESS_B={{ cloudflare_address_b }}
CLOUDFLARE_GATEWAY={{ cloudflare_gateway }}

# ZPE LAN
ZPE_ADDRESS={{ zpe_address }} 
ZPE_GATEWAY={{ zpe_gateway }}
